<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: foo"></nav>
	


<div>
		
	
	<h4> Current Employees</h4>
			<table> 
					<thead>
						<tr> 
							<th> First Name</th>
							<th> Last Name</th>
							<th> Email Address</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="anEmployee : ${employeeList}"> 
							<td th:text="${anEmployee.firstName}"> First Name </td>
							<td th:text="${anEmployee.lastName}"> Last Name </td>
							<td th:text="${anEmployee.email}"> Email </td>
						</tr>
					</tbody>
			</table>
	
	
</div>
</body>